{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'styleindex.css' %}">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/ios/452/chat-message--v2.png" id="icon" alt="User Icon" />
      <h1>Crypto Chat</h1>
    </div>

    <!-- Login Form -->
      <input  id="room-name-input" type="text" class="fadeIn second" maxlength="16" placeholder="Enter room name...">
      <input id="room-name-generate" type="button" class="fadeIn fourth" value="Generate">
      <input id="room-name-submit" type="submit" class="fadeIn fourth" value="Confirm">

  </div>
</div>
    <script>
        function getRandomNum() {
            let rndNum = Math.random();
            rndNum = parseInt(rndNum * 1000);
            rndNum = (rndNum % 94) + 33;
            return rndNum;
        }
        function checkPunc(num) {
            if ((num >=33) && (num <=47)) { return true; }
            if ((num >=58) && (num <=64)) { return true; }
            if ((num >=91) && (num <=96)) { return true; }
            if ((num >=123) && (num <=126)) { return true; }
            return false;
        }

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            let roomName = document.querySelector('#room-name-input').value;
            let correct = false;

            if (roomName != "") {
                for(i = 0; i<roomName.length;i++){
                    correct = checkPunc(roomName[i].charCodeAt(0));
                    if(correct==true) break;
                }

                if (correct == false) window.location.pathname = '/chat/' + roomName + '/';
                else{
                    alert("Room name contains characters that are not allowed!");
                }
            }
            else{
                alert("Enter room name!");
            }
        };
        document.querySelector('#room-name-generate').onclick = function (e){
            let sPassword = "";
            let length = 16;
            for (i=0; i < length; i++) {
            numI = getRandomNum();
            while (checkPunc(numI)) { numI = getRandomNum(); }
            sPassword = sPassword + String.fromCharCode(numI);
            }
            document.getElementById('room-name-input').value = sPassword;
        };
    </script>